<html th:replace="~{layout/base_admin :: html}">
<div th:fragment="contenido">
    <div>
        <section class="container my-5">
            <section class="text-center mb-4">
                <h1 class="display-4">Nueva Colección</h1>
                <p class="lead">Completa el formulario para crear una nueva colección.</p>
            </section>

            <form id="form-nueva-coleccion" th:action="@{/colecciones/nueva}" method="post">

                <!-- Título -->
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>

                <!-- Descripción -->
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
                </div>

                <!-- Fuentes -->
                <div class="mb-3">
                    <label for="fuentes" class="form-label">Fuentes disponibles</label>
                    <select class="selectpicker"
                            id="fuentes"
                            name="fuentes"
                            multiple
                            data-live-search="true"
                            title="Selecciona una o más fuentes"
                            required>
                        <option th:each="fuente : ${fuentes}"
                                th:value="${fuente}"
                                th:text="${fuente}"></option>
                    </select>
                </div>

                <!-- Algoritmo -->
                <div class="mb-3">
                    <label for="algoritmo" class="form-label">Algoritmo de consenso</label>
                    <select class="form-select" id="algoritmo" name="algoritmo" required>
                        <option value="" disabled selected>Selecciona un algoritmo</option>
                        <option th:each="alg : ${algoritmos}"
                                th:value="${alg}"
                                th:text="${alg}"></option>
                    </select>
                </div>


                <!-- Botón -->
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Guardar Colección</button>
                </div>
            </form>
        </section>
    </div>

</div>
</html>

