<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo} + ' - Metamapa'"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</head>
<body class="d-flex flex-column min-vh-100">
<!-- Fragmento de navegación -->
<nav th:fragment="navegacion" class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">MetaMapa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto text-center" id="nav-items">
                <li class="nav-item my-2 w-100 w-md-auto">
                    <a class="nav-link" th:href="@{/home}">Inicio</a>
                </li>
                <li class="nav-item my-2 w-100 w-md-auto">
                    <a class="nav-link" th:href="@{/colecciones}">Colecciones</a>
                </li>
                <li class="nav-item my-2 w-100 w-md-auto">
                    <a class="nav-link" th:href="@{/hechos}">Hechos</a>
                </li>
                <!-- Mis Hechos se agregará dinámicamente si está logeado ESTO AHORA NO ANDA, HAY QUE ADAPTARLO A THYMELEAF -->
                <li class="nav-item my-2 w-100 text-center" id="auth-buttons">
                    <!-- Estado logeado/no logeado se seteará con JS -->
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contenido principal -->
<main class="flex-grow-1">
    <div th:replace="~{${contenido} :: contenido}"></div>
</main>

<!-- Fragmento de footer TODO AGREGAR LA HREF LEGAL-->
<footer th:fragment="footer" id="legal" class="bg-primary text-white text-center py-3 mt-5">
    <p>&copy; 2025 MetaMapa | <a th:href="@{/legal}" class="text-white text-decoration-underline">Privacidad y Legal</a></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
